<html>
    <head>
    <title>ViXen media viewer</title>
        <!-- Load the jigna script. -->
        <script type='text/javascript' src='/jigna/jigna.js'></script>

        <!-- Once jigna is loaded, initialize it. -->
        <script type='text/javascript'>
            jigna.initialize({async: true});
        </script>
    </head>

<body ng-app='jigna'>
<div>
    Videos from: {{vixen.root}}
    <br/>

    <div style="height:150px; overflow:scroll; border:1px solid black">
        <div ng-repeat="media in vixen.media"
            ng-click="vixen.selected = media">
            Grid: {{media.tags.grid}}, Camera: {{media.tags.camera}} on {{media.date}}
            at {{media.time}}
            <br/>
        </div>
    </div>
    <br/>

    <div ng-if="vixen.selected" style="padding: 5px 5px 5px 5px; border:1px solid black">
        <div style="float:left; padding: 5px 5px 5px 5px">
            Grid: {{vixen.selected.tags.grid}}
            <br/>
            Camera: {{vixen.selected.tags.camera}}
            <br/>
            Grid date: {{vixen.selected.tags.grid_date}}
            <br/>
            File date: {{vixen.selected.date}} {{vixen.selected.time}}
            <br/>
            Jackal: <input type="number" ng-model="vixen.selected.tags.jackal"/>
            <br/>
            Indian Fox: <input type="number" ng-model="vixen.selected.tags.indian_fox"/>
            <br/>
            Desert Fox: <input type="number" ng-model="vixen.selected.tags.desert_fox"/>
            <br/>
            Dog: <input type="number" ng-model="vixen.selected.tags.dog"/>
            <br/>
            Temperature: <input ng-model="vixen.selected.tags.temperature"/>
            <br/>
            Remarks: <input ng-model="vixen.selected.tags.remarks"/>
            </div>

            <div style="padding: 5px 5px 5px 5px">
            <video controls src="{{vixen.selected.view}}" >
            <source src="{{vixen.selected.view}}" type="video/webm"/>
            </video>
            </div>
        </div>

    </div>

    <div ng-if="vixen.media">
    <button ng-click="vixen.save()" type="button">Save</button>
    Last saved at: {{vixen.last_save_time}}
    </div>
    <br/>

    <br/>
</div>

</body>


</html>
