<html ng-app='jigna'>
    <head>
    <title>ViXen media viewer</title>
        <!-- Load the jigna script. -->
        <script type='text/javascript' src='/jigna/jigna.js'></script>

        <!-- Once jigna is loaded, initialize it. -->
        <script type='text/javascript'>
            jigna.initialize({async: true});
        </script>
        <style>
            .resizable {
                padding: 5px;
                border: 1px solid;
                resize: both;
                overflow: auto;
                width: 800px;
            }
        </style>
    </head>

<body>
<div>
    <h2>Welcome to ViXeN</h2>
    <br/>

    Grid: <select ng-model="vixen.grid" ng-options="g for g in vixen.available_grids"></select>
    Camera: <select ng-model="vixen.camera" ng-options="c for c in vixen.available_cameras"></select>
    <br>
    <div style="height:150px; overflow:scroll;" class="resizable">
        <div ng-repeat="media in vixen.media"
            ng-click="vixen.selected = media">
            {{media.path}} on {{media.date}} at {{media.time}}
            <br/>
        </div>
    </div>
    <br/>

    <div ng-if="vixen.selected" style="padding: 5px;">
        <div style="float:left; padding: 5px">
            <div title="{{vixen.selected.path}}">
                File name: {{vixen.selected.file_name}}
            </div>
            Grid: {{vixen.selected.tags.grid}}
            <br/>
            Camera: {{vixen.selected.tags.camera}}
            <br/>
            Grid date: {{vixen.selected.tags.grid_date}}
            <br/>
            File date: {{vixen.selected.date}} {{vixen.selected.time}}
            <br/>
            Jackal: <input type="number" ng-model="vixen.selected.tags.jackal"/>
            <br/>
            Indian Fox: <input type="number" ng-model="vixen.selected.tags.indian_fox"/>
            <br/>
            Desert Fox: <input type="number" ng-model="vixen.selected.tags.desert_fox"/>
            <br/>
            Dog: <input type="number" ng-model="vixen.selected.tags.dog"/>
            <br/>
            Temperature: <input ng-model="vixen.selected.tags.temperature"/>
            <br/>
            Remarks: <input ng-model="vixen.selected.tags.remarks"/>
        </div>

        <div class="resizable">
            <video controls ng-src="{{vixen.selected.view}}"
                  style="width: 100%;"></video>
        </div>
    </div>

    <div ng-if="vixen.media" style="float:bottom;">
        <button ng-click="vixen.save()" type="button">Save</button>
        Last saved at: {{vixen.last_save_time}}
        <br/>
        <input id="export_csv" type="text"
           title="Will save the file to the current directory.">
        <button
            onclick="jigna.models.vixen.export_csv(document.getElementById('export_csv').value);"
            type="button">Export to CSV</button>
    </div>
    <br/>

</div>

</body>


</html>
