[Desktop Entry]
Name=ViXeN
GenericName=View Extract and Annotate media
Comment=View Extract and Annotate media application
Exec=bash -c 'cd $(dirname %k) && ./vixen'
Terminal=false
Type=Application
